<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="index.css"> -->
        <title>{{title}}</title>
    </head>
    <body>
        <!-- Create a navigation bar with the following buttons: Post, Authors, Logout, Profile, Inbox -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Social Media Project</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        {% comment %} <a class="nav-link" href="">Post <span class="sr-only">(current)</span></a> {% endcomment %}

                        <div class="form-popup" id="postForm">
                              <h1>Create Post</h1>
                          
                                <label for="title"><b>Title</b></label>
                                <input id="title" type="text" placeholder="Enter Title" name="title" required>
                                <!-- Create fields for title, description, categories, post type: text/markdown, image/png;base64, text/plain, 
                                and common mark, Content text, checkbox for unlisted or not, and visibilty either public or private -->
                                <label for="description"><b>Description</b></label>
                                <input id="description" type="text" placeholder="Enter Description" name="description" required>

                                <label for="categories"><b>Categories</b></label>
                                <input type="text" placeholder="Enter Categories" name="categories" required>

                                <!-- Create a drop down for post type: text/markdown and image/png;base64 if image/png;base64 is selected, then create a button to upload image/png;base64
                                and if text/markdown is selected, then create a text area for text/markdown by default let it be empty -->
                                <label for="postType"></label>
                                <label for="postType"><b>Post Type</b></label>
                                <select id="postType" name="postType">
                                    <option value="text/markdown">Common Mark</option>   
                                    <option value="image/png;base64">Upload Image</option>
                                    <option value="text/plain">text/plain</option>
                                </select>
                                
                                <!-- If the user selects image/png;base64 create a button to upload image/png;base64 -->
                                <input type="file"  accept="image/png;base64, image/jpeg;base64, image/png"  id="image/png;base64" name="uploadImage">
                                
                                <!-- Create a script for the image upload button to convert the image to base64 and then display it in the text area -->
                                <!-- <script>
                                    // https://pqina.nl/blog/convert-a-file-to-a-base64-string-with-javascript/
                                    var fileInput = document.getElementById('image/png;base64');
                                    fileInput.addEventListener('change', function(e) {
                                        const file = e.target.files[0];
                                        const reader = new FileReader();
                                        reader.onloadend = () => {
                                           //console.log(reader.result);
                                        }
                                        reader.readAsDataURL(file);
                                        // this file needs to sent to index.html
                                       // console.log(file);
                                        let fileData = file;
                                        // this file is in base64 format but needs to be sent to index.html
                                    });
                                </script> -->

                                <!-- If the user selects text/markdown create a text area for text/markdown -->
                                <textarea id="text/markdown" name="text/markdown" rows="4" cols="50">
                                </textarea>

                                <!-- Hide the upload image button and the text/markdown text area until the user selects the appropriate post type -->
                                <script>
                                    document.getElementById("image/png;base64").style.display = "none";
                                    document.getElementById("text/markdown").style.display = "block";
                                    document.getElementById("postType").addEventListener("change", function() {
                                        if (this.value == "image/png;base64") {
                                            // document.getElementById("uploadImageButton").style.display = "block"; 
                                            document.getElementById("image/png;base64").style.display = "block";
                                            document.getElementById("text/markdown").style.display = "none";
                                        } else if (this.value == "text/markdown") {
                                            document.getElementById("image/png;base64").style.display = "none";
                                            document.getElementById("text/markdown").style.display = "block";
                                        } else {
                                            document.getElementById("image/png;base64").style.display = "none";
                                            document.getElementById("text/markdown").style.display = "block";
                                        }
                                    });
                                </script>

                                <!-- <label for="Content Type">Choose Content Type</label>
                                <select name="contentType" id="contentType" onchange="contentForm()">
                                  <option value="imageForm">Image</option>
                                  <option value="commonMarkForm">CommonMark</option>
                                </select>   
                                
                                <form action="/action_page.php" name="imageForm" id="imageForm" style="display:none">
                                    <label for="img">Select image:</label>
                                    <input type="file" id="img" name="img" accept="image/*">
                                    <input type="submit">
                                </form>
                                    
                                <form name="commonMarkForm" id="commonMarkForm" style="display:none">
                                    <p>This is your commonmark</p>
                                </form> -->

                                <label  for="unlisted"><b>Unlisted</b></label>
                                <input  id="unlisted" type="checkbox" name="unlisted">

                                <!-- For Visibility make it a selection box with public and private as options and by default make it public -->
                                <label for="visibility"><b>Visibility</b></label>
                                <select id="visibility" name="visibility">
                                    <option value="public">Public</option>
                                    <option value="private">Private</option>
                                </select>

                                <button type="submit" class="btn" onclick ="submitPost()">Create Post</button>
                              <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                          </div>

                    <button type="button"
                          id="postButton"
                          class="btn btn-primary"
                          onclick="openForm()">
                      Post
                    </button>

                    

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a> <!-- Here we can put the logged in user's name instead of "Profile" -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inbox' %}">Inbox</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- <div id="content">
            {% block content %}{% endblock %}
        </div> -->
    </body>
    <script>
        document.getElementById("postForm").style.display = "none";
        function openForm() {
          document.getElementById("postForm").style.display = "block";
          document.getElementById("postButton").style.display = "none";
        }
        
        function closeForm() {
            document.getElementById("postForm").style.display = "none";
            document.getElementById("postButton").style.display = "block";
        }

        function submitPost(){
          // have access to the form element, can make visible/popup
          // console.log(form);
          // console.log("I AM HERE");
          
          event.preventDefault();

          // const title = prompt("Enter the title of your post");
          // const content = prompt("Enter the content of your post");
          // const source = prompt("Enter the source of your post");
          // const origin = prompt("Enter the origin of your post");
          // const description = prompt("Enter the description of your post");
          console.log("Inside submit post AHHAHHAHAHAHAHA");
          //document.getElementById("fileData").innerHTML = x;
          const title = document.getElementById("title").value;
          const author_id = "{{ author_id }}";
          const source = "source"
          const origin = "origin"
          const description = document.getElementById("description").value;
          const unlisted = document.getElementById("unlisted").checked;
          // const content = document.getElementById("content").value;
          const visibility = "PUBLIC";
          const contentType = document.getElementById("postType").value;
          console.log("contentType: " + contentType);
          let content = document.getElementById(contentType).value;
          //wait 2 seconds
          
          // if (contentType == "text/markdown"){
          //   const content = document.getElementById("text/markdown").value;
          // }
          // else if (contentType == "plain/text"){
          //   const content = document.getElementById("text/markdown").value;
          // }
          if (contentType == "image/png;base64"){
            content = document.getElementById('fileup').innerHTML;
          }
          console.log("content: " + content);

          const data = {
            "title": title,
            "description": description,
            "source": source,
            "origin": origin,
            "unlisted": unlisted,
            "visibility": visibility,
            "contentType": contentType,
            "content": content
          }
          console.log("data: " + JSON.stringify(data));
          const options = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',   
              'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
          }
          fetch('./authors/'+author_id+'/posts', options).then(()=>{
            location.reload();

          })



          //refresh the page

        }
        </script>

    <!-- <script>
        $("#contentType").on("change", function() {
            $("#" + $(this).val()).show().siblings().hide();
        })
        </script> -->
</html>



