{% load static %}
<!DOCTYPE html>
<html id = "page">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/home/base.css' %}">
        <title>{{ title }}</title>
    </head>
    <body>
        <!-- Create a navigation bar with the following buttons: Post, Authors, Logout, Profile, Inbox -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Social Media Project</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        {% comment %} <a class="nav-link" href="">Post <span class="sr-only">(current)</span></a> {% endcomment %}
                        <div class="form-popup" id="postForm">
                            <h1>Create Post</h1>
                            <label for="title">
                                <b>Title</b>
                            </label>
                            <input id="title"
                                   type="text"
                                   placeholder="Enter Title"
                                   name="title"
                                   required>
                            <label for="description">
                                <b>Description</b>
                            </label>
                            <input id="description"
                                   type="text"
                                   placeholder="Enter Description"
                                   name="description"
                                   required>
                            <label for="categories">
                                <b>Categories</b>
                            </label>
                            <input type="text" placeholder="Enter Categories" name="categories" required>
                            <!-- Create a drop down for post type: text/markdown and image/png;base64 if image/png;base64 is selected, then create a button to upload image/png;base64
                                and if text/markdown is selected, then create a text area for text/markdown by default let it be empty -->
                            <label for="postType"></label>
                            <label for="postType">
                                <b>Post Type</b>
                            </label>
                            <select id="postType" name="postType">
                                <option value="text/markdown">
                                    Common Mark
                                </option>
                                <option value="image/png;base64">
                                    Upload Image
                                </option>
                                <option value="text/plain">
                                    text/plain
                                </option>
                            </select>
                            <!-- If the user selects image/png;base64 create a button to upload image/png;base64 -->
                            <input type="file"
                                   accept="image/png;base64, image/jpeg;base64, image/png"
                                   id="image/png;base64"
                                   name="uploadImage">
                            <textarea id="text/markdown" name="text/markdown" rows="4" cols="50">
</textarea>
                            <!-- Hide the upload image button and the text/markdown text area until the user selects the appropriate post type -->
                            <script>
                                    document.getElementById("image/png;base64").style.display = "none";
                                    document.getElementById("text/markdown").style.display = "block";
                                    document.getElementById("postType").addEventListener("change", function() {
                                        if (this.value == "image/png;base64") {
                                            // document.getElementById("uploadImageButton").style.display = "block"; 
                                            document.getElementById("image/png;base64").style.display = "block";
                                            document.getElementById("text/markdown").style.display = "none";
                                        } else if (this.value == "text/markdown") {
                                            document.getElementById("image/png;base64").style.display = "none";
                                            document.getElementById("text/markdown").style.display = "block";

                                        } else {
                                            document.getElementById("image/png;base64").style.display = "none";
                                            document.getElementById("text/markdown").style.display = "block";
                                        }
                                    });
                            </script>
                            <label for="unlisted">
                                <b>Unlisted</b>
                            </label>
                            <input id="unlisted" type="checkbox" name="unlisted">
                            <!-- For Visibility make it a selection box with public and private as options and by default make it public -->
                            <label for="visibility">
                                <b>Visibility</b>
                            </label>
                            <select id="visibility" name="visibility">
                                <option value="PUBLIC">
                                    Public
                                </option>
                                <option value="FRIENDS">
                                    Friends
                                </option>
                                <option value="PRIVATE">
                                    Private
                                </option>
                            </select>
                            <button type="submit" class="btn" onclick ="submitPost()">Create Post</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                        </div>
                        <button type="button"
                                id="postButton"
                                class="btn btn-primary"
                                onclick="openForm()">Create a Post</button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a> <!-- Here we can put the logged in user's name instead of "Profile" -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'followers' %}">Followers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inbox' %}">Inbox</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
    <script>
        document.getElementById("postForm").style.display = "none";
        const author_id = "{{ author_id }}"
        function openForm() {
            document.getElementById("postForm").style.display = "block";
            document.getElementById("postButton").style.display = "none";
        }
        
        function closeForm() {
            document.getElementById("postForm").style.display = "none";
            document.getElementById("postButton").style.display = "block";
        }

        function submitPost(){
          event.preventDefault();
          const title = document.getElementById("title").value;
          if (title == ""){
            alert("Title cannot be empty");
            return;
          }
          const author_id = "{{ author_id }}";
          const source = "source"
          const origin = "origin"
          const description = document.getElementById("description").value;
          if (description == ""){
            alert("Description cannot be empty");
            return;
          }
          const unlisted = document.getElementById("unlisted").checked;
          const visibility = document.getElementById("visibility").value;
          const contentType = document.getElementById("postType").value;
          let content = document.getElementById(contentType).value;
          let data = {
            "title": title,
            "description": description,
            "source": source,
            "origin": origin,
            "unlisted": unlisted,
            "visibility": visibility,
            "contentType": contentType,
            "content": content
          }
          
          let options = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',   
              'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
          }

          if (contentType == "image/png;base64") {
            // Read the file in base64
            const file = document.getElementById("image/png;base64").files[0];
            const reader = new FileReader();
            reader.readAsDataURL(file);
            var read = false;
            reader.onload =  () =>{
                data.content = reader.result;
                options.body = JSON.stringify(data);
                fetch('./authors/'+author_id+'/posts', options).then(()=>{
                    location.reload();
                  })
              };
              reader.onerror = (error) =>{
                alert("Error: " + error);
              };
               
            
          } else{
            console.log("non-image data: " + JSON.stringify(data));
            fetch('./authors/'+author_id+'/posts', options).then(()=>{
                location.reload();
              })
          }
          
          


        }
  
   
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      function newComment(post_id){
          
        const author_id = "{{ author_id }}";
        const content = prompt("Enter the content of your comment");

        const data = {
            "post_id": post_id,
            "comment": content,
            "author_id": author_id
          }
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',   
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify(data)
        }
        fetch(post_id+'/comments', options).then(response => {
          if (response.ok) {
            location.reload();
          } else {
            alert("Error: " + response.status);
          }
        });
    }

    async function sendRequest(object_id, author_id) {
        const author_obj = await fetch(author_id, {method: 'GET'}).then(response => response.json());
        const object_obj = await fetch(object_id, {method: 'GET'}).then(response => response.json());

        const summary = author_obj.displayName + " wants to follow " + object_obj.displayName;
        const data = {
        "type": "follow",
        "summary": summary,
        "actor": author_obj,
        "object": object_obj
        
        }
        console.log(data);
        const options = {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify(data)
        }
        console.log("SEND REQUEST TO: " + object_obj.id + "/inbox")
        fetch(object_obj.id + "/inbox", options).then((response) => alert("Request sent!"));
    }

    async function removeFollower(author_url,follow_id){
        const id = follow_id
        const options = {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }}
        fetch(author_url+"/followers/" + id, options).then((response) => location.reload());
        
    }

     async function newLike(author_id, post_id){
        const author_obj = await fetch("./authors/"+author_id, {method: 'GET'}).then(response => response.json());
        const post_obj = await fetch(post_id, {method: 'GET'}).then(response => response.json());
        const summary = author_obj.displayName + " likes your post";
        const data = {
        "type": "like",
        "summary": summary,
        "author": author_obj,
        "object": post_id
        
        }
        fetch(post_obj.author.id + "/inbox", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify(data)
        }).then((response) => alert("Like sent!")).catch((error) => alert("Error: " + error));

    }
      
    </script>
</html>
