{% extends "base.html" %}
{% block content %}
    <!-- <form style="display:none" id="postForm">
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title" value="Type title here..."><br>
      <label for="content">Content:</label><br>
      <input type="text" id="content" name="content" value="Type content here...">
      <input type="description" id="description" name="description" value="Type description here...">
    </form> -->
    <script>var dataFile = '';</script>
    <div class = "container">  
    {% for author_post in author_list %}
        <h3>Title: {{author_post.title}}</h3>
        <li>By: {{author_post.author.display_name}}</li>
        <li>Type: {{author_post.type}}</li>
        <li>Source: {{author_post.source}}</li>
        <li>Origin: {{author_post.origin}}</li>
        <li>Published Date: {{author_post.published}}</li>
        <li>Description: {{author_post.description}}</li>
        <!-- <li>Unlisted: {{author_post.unlisted}}</li>
        <li>Github: {{author_post.author.github}}</li> -->
        <img src={{author_post.author.profileImage}} alt="" width="50">
        <p id = "fileup"></p>
        <!-- <li>Visibility: {{author_post.visibility}}</li> -->
        <li>Content-Type: {{author_post.contentType}}</li>
        {% if author_post.contentType == "text/plain" %}
            <li>Content: {{author_post.content}}</li>
        {% elif author_post.contentType == "image/png;base64" %}
            <li>Content: <img src="{{author_post.content}}" alt="" width="100"></li>
        {% endif %}
        <li>Likes: {{author_post.likes}}</li>
        <li>Count: {{author_post.count}}</li> 
        <!-- <li>comment source: {{author_post.commentsSrc}}</li> -->
        <li>Categories: {{author_post.categories}}</li>
        <li>Comment Count: {{author_post.id}}</li>
        <p style="display:none" id="post_id_var">{{author_post.id}}</p>
        <li>Comments:
            
            <!-- Double for loop through author_post and then author_post.commentsSrc -->
            {% for comment in author_post.commentsSrc %}
                <li>Author: {{comment.author.display_name}}</li>
                <li>Comment: {{comment.content}}</li>
                <li>Comment Likes: {{comment.likes}}</li>
                <li>Published: {{comment.published}}</li>
            {% endfor %}
            
          
          
        </li>
        <button type="button" id="newCommentButton" onclick="newCommentYOLO()">
            Comment
        </button>
    {% endfor %}

    <script>
      // https://pqina.nl/blog/convert-a-file-to-a-base64-string-with-javascript/
      var fileInput = document.getElementById('image/png;base64');
      //var fileData = undefined;
      fileInput.addEventListener('change', function(e) {
          const file = e.target.files[0];
          const reader = new FileReader();
          reader.onloadend = () => {
            console.log(reader.result);
            var fileData = reader.result;
            document.getElementById('fileup').innerHTML = fileData;
          }
          reader.readAsDataURL(file);
          // this file needs to sent to index.html
          //console.log(file);
          document.getElementById('fileup').innerHTML = fileData;
          //console.log(reader.result);
          // this file is in base64 format but needs to be sent to index.html
      });
  </script>



    <!-- <div class="card" style="width: 18rem;">
        <p>Title: {{ author_post.title }}</p>
        <p>Github: {{ author_post.github }}</p>
        <p>Display Name: {{ author_post.display_name }}</p> -->

 
      <!-- <body>  </body> -->
    
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      
      <script>
        function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }

        function newCommentYOLO(){
          console.log("create comment");
          var post_id_var = document.getElementById('post_id_var').textContent;
          console.log(post_id_var);
          const author_id = "{{ author_id }}";
          const content = prompt("Enter the content of your comment");

          const data = {
              "post_id": post_id_var,
              "content": content,
              "author_id": author_id
            }
          const options = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
          }
          fetch(post_id_var+'/comments', options);
      }

        
        
      </script>

{% endblock %}


<!-- Today:

- Finish comments
- Edit post, Delete Post
- incognito, normal browser and try to comment on a post
- If not friends with someone can you see & comment on their NON PUBLIC posts


* Can an author edit their own author details and creating/accepting friend requests (not super important but nice to have)

* Fix the post UI (maybe a form?) could use a checkbox for unlisted/public posts etc -->