<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ followreq.summary }}</h3>
        <div class="card-options">
            <p>
                Sent by: <a href="/user/{{ followreq.actor.uuid }}">{{ followreq.actor.displayName }}</a>
            </p>
        </div>
        <button type="button"
                class="btn btn-success"
                onclick="acceptFollowRequest('{{ followreq.actor.id }}', '{{ followreq.object.id }}')">
            Accept
        </button>
    </div>
</div>
