{% extends "base.html" %}
{% block content %}
  <div class = "container">
    <h3>My details</h3>
    <hr>
    <div class = "row">
      <div class = "col-md-4">
        <img id="prfile" width="100" class="rounded-circle"/>
        <br>
        <br>
        <button id="edit-profile" class="btn btn-primary"
        onclick="editProfile('{{ author_id }}')">Edit Profile</button>
      </div>
      <div class = "col-md-8">
        <label>Name:</label>
        <h4 id="user-display-name">Display Name</h4>
        <label>Github:</label>
        <h4 id="user-github">No github account</h4>
        
      </div>
    </div>
    <br>
    <h3>Posts by me</h3>
    <hr>
    <!-- Create a title from author_post and then paragraphs of all its attributes -->
    {% for author_post in author_list %}
      {% include "post/post.html" with author_post=author_post editable=True %}
      <br>
    {% endfor %}
    <script>
      
          window.onload = async function() {
            const user = await fetch('{{author_id}}').then(res => res.json());
            document.getElementById('user-display-name').innerText = user.displayName;
            if (user.github) {
              document.getElementById('user-github').innerText = user.github;
            }
            document.getElementById('prfile').src = user.profileImage;

          }

    </script>
  {% endblock %}
</div>
