{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="card card-header">
            <h3>User Details</h3>
            <p>Display name: {{ user_info.displayName }}</p>
            <p>GitHub: {{ user_info.github }}</p>
            <p>Host: {{ user_info.host }}</p>
            {% if is_follower %}
                <button class="btn btn-danger col-md-4"
                        onclick="removeFollower('{{ author_id }}','{{ user_info.uuid }}')">
                    Remove Follower
                </button>
            {% elif user_info.id != author_id %}
                <button type="button"
                        id="sendRequest"
                        class="btn btn-success col-md-4"
                        onclick="sendRequest('{{ user_info.id }}','{{ author_id }}')">
                    Send Follow
                </button>
            {% endif %}
        </div>
        <br>
        <br>
        <h3>Posts by Author</h3>
        <br>
        {% for post in authors_posts %}
            {% include "post/post.html" with author_post=post author_id=author_id only %}
            <br>
        {% endfor %}
        {% if authors_posts|length == 0 %}
            <p>No posts by this author</p>
        {% endif %}
    </div>
{% endblock %}
