{% extends "base.html" %}
<!-- {% block content %} -->
<html>
    <body>


        {% for author_notif in author_inbox %}

        
            {% if author_notif.type == "Follow" %}
            <h4>Item Type: {{author_notif.type}}</h4>
            <p>{{author_notif.actor.display_name}} wants to follow you!</p>
            <button type="button" onclick="acceptFollowRequest('{{author_notif.actor.id}}', '{{author_notif.object.id}}')">Accept</button> 

            {% elif author_notif.type == "Post" %}
            <h4>Item Type: {{author_notif.type}}</h4>
            <p>{{author_notif.title}}</p>
            <p>{{author_notif.description</p>

            {% elif author_notif.type == "Like"%}
            <h4>Item Type: {{author_notif.type}}</h4>
            <p>{{author_notif.actor.display_name}} liked your post!</p>

            {% elif author_notif.type == "Comment" %}
            <h4>Item Type: {{author_notif.type}}</h4>
            <p>Original Post: {{author_notif.title}}</p>
            <p>{{author_notif.actor.display_name}}: Comment body</p>
            {% endif %}


        {% endfor %}
        




        <script>
            function acceptFollowRequest(senderID, accepterID){
                console.log(senderID, accepterID)
            }
        </script>
    </body>
</html>
<!-- {% endblock %} -->